body {
    background-color: #101010;
}

#logo {
    display: flex;
    width: 180px;
    margin: 0 auto;
    padding: 20px;
}

#welcome {
    display: block;
}

#gameheader {
    margin-bottom: 10px;
    margin-top: 0px;
    height: 50px;
}

.welcomescreens {
    display: flex;
    flex-direction: column;
    background-color: #212121e5;
    border: 2px solid #141414;
    box-shadow: 0px 20px 30px #00000073;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    color: rgb(209, 209, 209);
    padding: 30px;
    margin-bottom: 10px;
}

#welcometothegame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: rgba(186, 186, 186, 0.34);
}

.welcometext {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

.errormessage{
    display: flex;
    color: red;
}

.hide{
    display: none;
}

#chooseName {
    display: flex;
    flex-direction: column;
}

#chooseusername {
    height: 40px;
    width: 300px;
    margin-left: 12.5%;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/*#chooseusername:focus {
    outline: none;
}*/

#startgame {
    width: 200px;
    height: 40px;
    margin-left: 25%;
    margin-top: 8%;
    border-radius: 5px;
    border: 0px solid rgb(0, 0, 0);
    background: rgb(195,73,25);
    background: linear-gradient(180deg, rgba(195,73,25,1) 0%, rgba(212,203,23,1) 100%);
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    color: rgba(16, 16, 16, 0.954);
    box-shadow: 0px 20px 30px #00000048;
    transition: 0.2;
}

#startgame:hover {
    box-shadow: 0px 30px 40px #0000003d;
    transform: scale(1.01);
}

#chat { /* the chat component */
    color: rgb(219, 219, 219);
    width: 250px;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    margin-left: 10px;
}

#chatmessagearea {
    border: 1px solid rgba(0, 0, 0, 0.505);
    border-radius: 5px;
    background-color: #222222;
    width: 210px;
    height: 250px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#sendmessagebutton {
    width: 45px;
    height: 45px;
    font-size: 30px;
    padding-left: 10px;
    color: rgba(219, 219, 219, 0.498);
    background-color: #121212;
    border: 0px solid black;
    border-radius: 50px;
}

#sendmessagebutton:hover {
    box-shadow: 0px 30px 40px #0000003d;
    transform: scale(1.01);
}

#chattextarea {
    width: 157px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.505);
    color: rgb(219, 219, 219);
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

#chattextarea:focus {
    outline: none;
}

#chatform {
    display: flex;
    flex-direction: row;
}

#chatheader {
    margin: 10px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#game { /* the whole game with elements div*/
    display: flex;
    flex-direction: row;
    background-color: #212121e5;
    border: 2px solid #141414;
    width: 1136px; 
    height: 384px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

#gameinfo { /* the whole game info component */
    background-color: rgb(46, 46, 46);
    color: rgb(219, 219, 219);
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
}

#gameinfoheader {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#gamepanel {
    border: 1px solid gray;
    color: rgb(219, 219, 219);
}

.playerone {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.505);
    border-radius: 5px;
    background-color: #222222;
    width: 210px;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

/*.userGameStatus {
    justify-content: flex-end;
}*/

.avatar {
    background-color: #382424;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.505);
}

.gamePlayerUsername {
    /*background-color: #000000;*/
    color: rgb(219, 219, 219);
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 10px;
    width: 140px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.userGameStatus {
    color: rgb(219, 219, 219);
}

#gamedata {
    height: 50px;
    margin-bottom: 10px;
}

#gamescreen { /* the game field 18w x 12h squares */
    position: relative;
    width: 576px;
    height: 384px;
    background-color: rgb(26, 75, 33);
    border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
